*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    font-size: 2vh;
}

a {
    outline: none;
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-rows: min-content 1fr;
}

header {
    display: grid;
    grid-template-columns: min-content min-content;
    height: 7vh;
    padding: 0vh 1vh 0 1vh;
    background-color: rgb(255, 225, 225);
    min-width: 1vh;
}

.logo-wrapper {
    display: grid;
    align-items: center;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: clamp(1vw, 1vh, 2vw);
    max-width: 100vw;
    padding-right: 1vh;
}

.home,
.menu,
.about,
.home:hover,
.menu:hover,
.about:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(1vw, 15vh, 30vw);
    align-self: flex-end;
    border-radius: 1vh 1vh 0 0;
    height: 3vh;
    cursor: pointer;
    font-size: clamp(2px, 0.9rem, 4vw)
}

.home,
.home:hover {
    background-color: #e9f5e9;
}

.menu,
.menu:hover {
    background-color: #FFF0D3;
}

.about,
.about:hover {
    background-color: #D7F5FF;
}

.content {
    display: grid;
    padding: 1vh;
    gap: 1vh;
    min-width: 1vh;
}

.icon-wrapper {
    width: 6vh;
    height: 6vh;
    background-size: 100% 100%;
}

span {
    padding-left: 1vh;
    padding-right: 1vh;
    height: min-content;
    width: max-content;
}

@media screen and (max-aspect-ratio:1/1.0001) {
    header {
        justify-content: center;
    }

    .logo-wrapper {
        display: none;
    }

    .image-place {
        display: none;
    }

    .content {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-aspect-ratio: 1/1) {
    header {
        justify-content: space-between;
    }

    .logo-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .logo {
        background-image: url(../images/logo.png);
    }

    .title-wrapper {
        display: grid;
        grid-template-rows: min-content min-content;
        height: min-content;
    }

    .main-title {
        display: flex;
        align-self: center;
        height: min-content;
    }

    .low-title {
        font-size: 0.5rem;
    }
}